<ion-header>
  <ion-toolbar>
    <ion-title>
      Home - Admin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <p>Add your post</p>
        <form [formGroup] = "home">
            <ion-input placeholder="Enter Name" formControlName = "name"></ion-input>
            <ion-input placeholder="Enter Title" formControlName = "title"></ion-input>
            <ion-input placeholder="Enter Description" formControlName = "description"></ion-input>
            <ion-input placeholder="Enter Date" ></ion-input>
            <ion-input placeholder="Enter Type" formControlName = "type"></ion-input>
            <ion-input placeholder="Enter Like" formControlName = "like"></ion-input>
            <ion-button color="primary" (click)="post(home.value)">post</ion-button>
        </form>
        
       
      </ion-card-content>
    </ion-card>
  
</ion-content>
