<!-- <ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
    <ion-title routerLink="/tabs/tab1">post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor="let item of items">

        <ion-item>
          
          <h2>{{item.payload.doc.data().name}}</h2>
          <p>{{item.payload.doc.data().title}}</p>
        </ion-item>
      
        
      
        <ion-card-content>
          <p>
            {{item.payload.doc.data().description}}
          </p>
        </ion-card-content>
      
        <ion-row>
          <ion-col>
            <button ion-button icon-start clear small>
              <ion-icon name="thumbs-up"></ion-icon>
              <div>{{item.payload.doc.data().like}} Likes</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-start clear small>
              <ion-icon name="text"></ion-icon>
              <div>4 Comments</div>
            </button>
          </ion-col>
          <ion-col align-self-center text-center>
            <ion-note>
              11h ago
            </ion-note>
          </ion-col>
        </ion-row>
      
    </ion-card>

    
</ion-content> -->


<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let card of cards">
    <ion-item>
      <ion-avatar item-start>
        <img [src]="card.avatarImageUrl" (click)="avatarTapped(card)">
      </ion-avatar>
      <h2>{{card.name}}</h2>
      <p>{{card.date}}</p>
    </ion-item>
    <img [src]="card.postImageUrl" (click)="imageTapped(card)">
    <ion-card-content>
      <p>{{card.postText}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button color="primary" clear small icon-left (click)="like(card)">
        <ion-icon name='thumbs-up'></ion-icon>
        {{card.likes}} Likes
      </button>
      </ion-col>
      <ion-col>
        <button ion-button color="primary" clear small icon-left (click)="comment(card)">
        <ion-icon name='text'></ion-icon>
        {{card.comments}} Comments
      </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          {{card.timestamp}}
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
